<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand fs-1" href="/orvane"><i class="fa-brands fa-opera fa-flip"
        style="color: #FFD43B;"></i></i>&nbsp;ORVANE</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link fs-5" aria-current="page" href="/orvane">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle fs-5" href="#" id="aboutDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            About
          </a>
          <ul class="dropdown-menu" aria-labelledby="aboutDropdown">
            <li><a class="dropdown-item" href="/about/who-we-are">Who We Are</a></li>
            <li><a class="dropdown-item" href="/about/our-process">Our Process</a></li>
            <li><a class="dropdown-item" href="/about/careers">Careers</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-5" href="/service">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-5" href="/portfolio">Portfolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-5" href="/employee">Employees</a>
        </li>
        <li class="nav-item">
          <% if (user && user.username) { %>
            <div class="profile-section">

        <li class="nav-item dropdown">
          <a class="nav-link fs-5" href="#" id="aboutDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            <span style="font-size: large; color: #2b6cb0;"><i class="fa-solid fa-user"
                style="color: #2b6cb0;"></i>&nbsp;<%= user.username %></span>
          </a>
          <ul class="dropdown-menu" aria-labelledby="aboutDropdown">
            <li><a class="dropdown-item" href="/user/profile/<%=user._id%>">Profile</a></li>
            <li><a class="dropdown-item" href="/user/signup">SignUp</a></li>
            <li><a href="/user/log-out"
                style="text-decoration: none;color: rgb(237, 16, 16); font-size: large;margin-left: 1rem;" id="dropdown-logout" >Logout</a>
            </li>
          </ul>
        </li>

    </div>
    <% } else { %>
      <a href="/user/log-in" style="font-size: x-large;text-decoration: none;" id="sign-a">Sign in</a>
      <% } %>
        </li>
        </ul>
  </div>
  </div>
</nav>