

body {
  font-family: 'Poppins', sans-serif;
}

/* Navbar */

/* Hero Section */
.hero {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
}

@media(max-width:350px){
  .navbar{
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.hero::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.hero-text {
  position: relative;
  z-index: 2;
  max-width: 800px;
  padding: 2rem;
  animation: fadeInUp 1.2s ease;
}

.hero-text h1 {
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.3;
}

.hero-text p {
  font-size: 1.2rem;
  margin: 1rem 0 2rem;
  opacity: 0.9;
}

.btn {
  background: #007bff;
  color: #fff;
  padding: 0.8rem 1.6rem;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 600;
  transition: background 0.3s;
}

.btn:hover {
  background: #0056d2;
}





.btn-light {
  background: #fff;
  color: #007bff;
  padding: 0.8rem 1.6rem;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 600;
  transition: all 0.3s;
}

.btn-light:hover {
  background: #f1f1f1;
  color: #0056d2;
}

/* Career Section */
.career {
  text-align: center;
}

.career h2 {
  font-size: 2.2rem;
  margin-bottom: 1.2rem;
}

.career p {
  color: #555;
  font-size: 1.05rem;
  line-height: 1.8;
  max-width: 850px;
  margin: 0 auto 2rem;
}


/* Animations */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(25px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Responsive */
@media (max-width: 768px) {
  .hero-text h1 {
    font-size: 2.2rem;
  }
  .about p,
  .career p {
    font-size: 1rem;
  }
  .project-content h2 {
    font-size: 1.8rem;
  }
}
