<% layout("/layouts/boilerplate.ejs") -%>

    <div class="body">
        <main>
            <div class="about-intro">
                <p class=" hello career-heading">Join us.</p>
                <p class="career-info-text ">Welcome to Orvane Digital—where innovation meets opportunity.</p>
                <p class="career-text-tag">
                    As a leading digital experience agency, we're a community of passionate professionals and
                    craftspeople dedicated to pushing boundaries and achieving excellence. This happens through not only
                    the work we do but through those we work with.
                </p>
            </div>
            <a href="#opportunity">
                <p style="font-size: 30px; margin-left: 2rem;text-decoration: underline;">View Open Positions</p>
            </a>
        </main>
    </div>