<% layout("/layouts/boilerplate.ejs") -%>


  <div class="hero-container">
  <div style="width: 50vw;">
    <div class="process">
      <p class="head" id="hello">Hello,</p>
    </div>
    <div class="process">
      <p class="head-tag">we're ORVANE Digitals</p>
      <p style="font-size: x-large;">
        Orvane Digitals is a creative technology agency driven by passion and precision.  
        We craft elegant digital solutions that combine thoughtful design with cutting-edge innovation.  
        Every line of code, every pixel, every decision — it’s all aimed at one thing: <i class="fa-regular fa-face-smile" style="color: yellowgreen;"></i>.
      </p>
      <p style="font-size: x-large;">
        Whether you’re a startup aiming to stand out or an enterprise looking to evolve,  
        we help you redefine your digital presence and build stronger connections with your audience.
      </p>
    </div>
  </div>

  <div class="col-lg-4 col-xl-3 mx-auto hero-in-sub-fade-up ms-auto" style="width: 40vw;">
    <div class="statistics font-stat stat">
      <span class="h2 d-block font-stat stat">20+</span>
      <span class="body-large d-block mb-2 stat">Years in business</span>
    </div>
    <div class="statistics font-stat stat">
      <span class="h2 d-block font-stat stat">500+</span>
      <span class="body-large d-block stat">Websites &amp; projects launched</span>
    </div>
    <div class="statistics font-stat stat">
      <span class="h2 d-block font-stat stat">35+</span>
      <span class="body-large d-block stat">Awards &amp; recognition</span>
    </div>
  </div>
</div>
