<%layout("/layouts/boilerplate.ejs")-%>



  <div class="description mt-5" style="margin-bottom: 10vh;">
    <div class="line1">
      <h1>Building Digital Solutions</h1>
    </div>
    <div class="line2">
      <h1>That Impowers Your Business</h1>
    </div>
    <div class="service-info mt-2 " style="display:flex;">
      <p>&nbsp;Web-Development &nbsp; </p>
      <p>&nbsp;Web-Applications &nbsp; </p>
      <p>&nbsp;UI-UX Design &nbsp; </p>
      <p>&nbsp;SEO - Maintainance&nbsp;</p>
    </div>
    <div class="description-btn mt-2 ">
      <a href="/service" style="text-decoration: none;"><button class="service-btn">Our
          Services</button>&nbsp;</a>
      <a href="/orvane/contact" style="text-decoration: none;color:white;"><button class="contact-btn"
          style="margin-left: 1rem;">Contact Us</button></a>
    </div>
  </div>
 


  <div>
    <header class="hero" style="margin-bottom: 10vh;">
    <div class="overlay"></div>
    <div class="hero-text " style="font-weight: 500px;">
      <h1>We Create Digital Experiences That Inspire</h1>
      <p>From strategy to execution, Orvane Digitals brings ideas to life with technology, design, and vision.</p>
      <button class="contact-btn"><a href="/service" style="color: white;">Our Work</button></a></button>
    </div>
  </header>

  
  <section class="career" style="margin-bottom: 10vh;">
    <div class="container">
      <h2>Upgrade Your Career With Orvane</h2>
      <p>
        At Orvane Digitals, growth is not optional — it’s built into our DNA.  
        We believe in empowering creative minds to experiment, build, and lead with purpose.  
        Join a team that values curiosity as much as skill, and innovation as much as stability.
      </p>
      <button class="contact-btn"><a href="/about/careers" style="color: white;">Join Our Team</a></button>
    </div>
  </section>

  
  </div>