<% layout("/layouts/boilerplate.ejs") -%>

<div class="service-intro">
    <p class="service-title try">World-class</p>
    <p class="service-info-text info-text">Digital to destination, from idea to execution</p>
</div>

