<%layout("/layouts/boilerplate.ejs")-%>
  <link rel="stylesheet" href="/css/portfolio.css">

  <section id="portfolio" class="py-5">
    <div class="container text-center">
      <h2 style="font-size: 40px;" class=" mb-3 text-warning">Our Portfolio</h2>
      <p class="text-secondary mb-5" style="font-size: 20px;">
        A showcase of our real-world projects — blending design, data, and development into digital excellence.
      </p>

      <div class="row  row-cols-sm-2 row-cols-md-3  g-4">
        <!-- Projects -->
        <% for(let portfolio of Portfolios) { %>
          <div class="col-md-4  row-cols-sm-2 row-cols-md-3  mb-5">
            <a href="/portfolio/<%= portfolio._id%>">
              <div class="card project-card border-0 shadow-sm" id="portfolio-card">
                <div class="project-img">
                  <img src="<%=portfolio.projectThumbnail%>" class="img-fluid rounded-top" alt="image">
                </div>
                <div class="card-body">
                  <h5 class="card-title text-warning">
                    <%=portfolio.projectTitle%>
                  </h5>
                  <p class="card-text text-secondary">
                    <%=portfolio.projectCategory%>
                  </p>
                </div>
              </div>
            </a>
          </div>
          <% } %>
        </section>